<div id="footer">
<p>
Copyright &copy; 2011 Humanitarian OpenStreetMap Team
&middot; Map data from OpenStreetMap, CC-BY-SA 2.0<br />
Made with support from: <%= image_tag("layout/Australian-AID-Identifier_blue-red-177x80.png", :title=>"AusAID", :alt => "AusAID") %>
</p>
</div>

