<div id="footer">
<p>
  <!-- Copyright &copy; 2011 Humanitarian OpenStreetMap Team -->
  <%= link_to image_tag('layout/hot-sml-logo.png', :title=>"Humanitarian OpenStreetMap Team",:alt=>"HOT logo"), 'http://hot.openstreetmap.org/', :target=>'_blank' %>
  <%= t".support" %>:
<%= link_to image_tag('layout/Australian-AID-Identifier_blue-red-133x60.png', :title=>"Austrialian AID",:alt=>"AusAID logo"), 'http://www.ausaid.gov.au/', :target=>'_blank' %>
</p>

<p><%= t".attrib" %></p>
</div>

